#access-control {
  .modal-header {
    h5 {
      text-align: center;
    }

    button {
      @media (max-width: 992px) {
        float: none;
      }
    }
  }

  .modal-body {
    @media (max-width: 992px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .access-form {
    flex-basis: .9 * $basisWidth;
    padding: 1rem 1.5rem;

    @media (max-width: 992px) {
      flex-basis: $basisWidth;
      padding-right: .5rem;
      padding-left: .5rem;
      font-size: .8rem;
    }

    .form-check-inline {
      margin-right: 0;
    }
  }

  .user-rights-fields {
    .user-name,
    .user-rights,
    .act-delete-user {
      padding: .5rem;
      width: .25 * $basisWidth;
      text-align: center;

      @media (max-width: 992px) {
        padding-right: 0;
        padding-left: 0;
        box-sizing: border-box;
      }
    }
  }

  .user-rights {
    label {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: $white;
      border: 4px solid $blue;
      border-radius: 9px;
      box-sizing: border-box;

      .checked {
        position: absolute;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: $silver;
        border-radius: 5px;
      }
    }

    input {
      &[type='radio'] {
        display: none;
      }
    }
  }

  .form-controls {
    margin-top: 1.5rem;
  }
}
