.auth-form {
  padding: 2rem 1rem;
  font-size: 1rem;

  h2 {
    text-align: center;
  }
}

.auth-tip {
  padding: .5rem;
  text-align: center;
}

.list-social {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.auth-service {
  display: flex;
  justify-content: center;
  list-style-type: none;

  .btn {
    position: relative;
    margin-bottom: .5rem;
    width: 190px;
    height: 40px;
    color: $black;
    text-align: center;
    border: 1px solid $silver;

    &::before {
      position: absolute;
      top: 5%;
      left: 10%;
    }
  }

  .btn.vk-social {
    &::before {
      content: url('/src/images/icons/vk-32px.png');
    }
  }

  .btn.google-social {
    &::before {
      content: url('/src/images/icons/google-32px.png');
    }
  }
}
