@import "~bootstrap/scss/bootstrap";

body {

  header {
    height: 3.5rem;
    .menu-position {
      position: fixed;
      width: 100%;
      height: inherit;
      z-index: 1500;
    }

  }

  main {

  }

  footer {

  }
  @media (max-width: 992px) {
    font-size: 12px;
  }
}
@import "authForm.scss";
@import "accessForm.scss";
@import "eventEditor.scss";
@import "eventBio.scss";
